<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DHA Gujranwala</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
        const showAlertMsg = () => {
            navigator.getMedia = (navigator.getUserMedia || // use the proper vendor prefix
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia ||
                navigator.msGetUserMedia);
            var name = document.getElementById("roomname").value;
            var username = document.getElementById("username").value;

            localStorage["RoomName"] = name;
            localStorage["UserName"] = username;

            navigator.getMedia({ video: true }, function () {
                window.location.href = '/videoconf.html';
            }, function () {

                alert("You do not have a web cam attached.");
            });

        }

        const Logout = () => {
            window.location.href = '/User/logout';
        }
    </script>
</head>


<body>
    <div class="w3-container w3-card-4 w3-light-grey w3-text-blue" style="margin:10%;">
        <h2 class="w3-center">WebRTC Video Chat</h2>


        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" id="roomname" name="roomname" type="text" placeholder="Room Name">
            </div>
        </div>

        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="username" id="username" type="text" placeholder="Username">
            </div>
        </div>
        <p class="w3-center">
            <button class="w3-button w3-section w3-blue w3-ripple" onclick="showAlertMsg()"> Join </button>
        </p>

    </div>

</body>

</html>